.item-title {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.item-row {
    background-color: #ddd;
    margin: 10px;
}

.item-details {
    margin: 10px;
    padding-left: 10px;
    background-color: #fff;
}